.megamenu {
  color: #000000;
}
.megamenu .dropdownContainer {}
.megamenu .thirdMenu {}
.megamenu .fourthMenu {}

.megamenu .navigation {
  padding: 0;
}
.megamenu .dropdownWrapper {
  background-color:#ffffff;
  z-index: 9;
}

/* FirstLevel */
.megamenu .firstMenu {
  margin: 0;
  padding: 16px 8px;
  flex: 1 1 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.megamenu .firstMenuItems {
  display: block;
  color: #ffffff;
}
.megamenu .firstMenu.firstLevelActive {
  background-color: #ffffff;
}

.megamenu .firstMenu.firstLevelActive .firstMenuItems {
  color: #000000;
}

/* SecondLevel */
.megamenu .secondLevelList {}
.megamenu .secondLevelListWrapper {}
.megamenu .secondMenu {
  background-color: #ffffff;
}
.megamenu .secondMenuItems {
  color: #000000;
}

.megamenu .secondMenuIcon :global(.vtex__rightArrow) {
  stroke: #000000;
  stroke-width: 3px;
}
.megamenu .secondMenu:hover .secondMenuItems {
  color: #000000;
}
.megamenu .secondMenu:hover .secondMenuIcon :global(.vtex__rightArrow) {
  stroke: #000000;
}
.megamenu .secondLevelActive {
  background-color: #eeeeee;
}
.megamenu .secondLevelActive .secondMenuItems {
  color: #000000;
}
.megamenu .secondLevelActive .secondMenuIcon :global(.vtex__rightArrow) {
  stroke: #000000;
}

/* Only twoLevel */
.megamenu .secondLevelLink {
  color: #000000;
}
.megamenu .secondLevelLink:hover {
  font-weight: bold;
}
.megamenu .secondLevelLink.secondLevelLinkActive {
  font-weight: bold;
}

/* ViewAll */
.megamenu .viewAllFirstLevel {
  color: #000000;
}
.megamenu .viewAllFirstLevel:hover {
  font-weight: bold;
}
.megamenu .viewAllSecondLevel {
  color: #000000;
}
.megamenu .viewAllSecondLevel:hover {
  font-weight: bold;
}

/* thirdLevel */
.megamenu .thirdMenuItems {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
.megamenu .thirdMenuWrapper {
  column-count: 3;
}
.megamenu .thirdLevelLink {
  color: #000000;
  font-weight: bold;
}
.megamenu .thirdLevelLink:hover {
  font-weight: bold;
}
.megamenu .thirdLevelActive .thirdLevelLink.active {
  font-weight: bold;
}

/* FourthLevel */
.megamenu .fourthMenuItems {}
.megamenu .fourthLevelLink {
  font-size: 0.875rem;
  color: #595959;
}
.megamenu .fourthLevelLink:hover {
  font-weight: bold;
}
.megamenu .fourthLevelActive .fourthLevelLink.active {
  font-weight: bold;
}

/* Promotional */
.megamenu .promotional {}
.megamenu .promotional .image {max-width: 100%;}
.megamenu .promotional .content { color: #000000; font-size: 0.875rem;}
.megamenu .promotional .title { color: #000000; font-size: 1rem;}
.megamenu .promotional .link { color: #000000; font-size: 0.875rem;}
.megamenu .promotional .link:hover {
  font-weight: bold;
}

.megamenuMobile {}
.megamenuMobile .menus {}
.megamenuMobile .goBack {}
.megamenuMobile .megamenuLinksMobile {
  color: #000000;
}
.megamenuMobile .secondLevelMenu {}
.megamenuMobile .thirdLevelMenu {}
.megamenuMobile .fourthLevelMenu {}
.megamenuMobile .rightIcon {}
.megamenuMobile .secondMenuIcon :global(.vtex__rightArrow) {
  stroke: #000000;
  stroke-width: 3px;
}
.megamenuMobile .active .megamenuLinksMobile{
  font-weight: bold;
}
.megamenuMobile .secondMenuIcon {
  right: 10px;
}
.megamenuMobile .goBack .secondMenuIcon {
  left: 5px;
  right: unset;
}
.megamenuMobile .goBack.show {
  border-bottom: none;
}
.megamenuMobile .show {
  border-bottom: 1px solid #424242;
  font-size: 20px;
  margin: 0;
  padding: 6px 24px 6px 12px;
}
.megamenuMobile .secondLevelMenu .show {
  padding: 6px 24px 6px 18px;
}
.megamenuMobile .thirdLevelMenu .show {
  padding: 6px 24px 6px 24px;
}
.megamenuMobile .show.active {
  border-bottom: none;
}
.megamenuMobile .show.active .megamenuLinksMobile {
  border-bottom: 2px solid;
}

.show {
  display: block;
}

.hide {
  display: none;
}
